body{
    
    background-color: #212121;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0; 
    width: 100%;
}

header{
    float: left;
    height: 100px;
    width: 100%;
}

header img{
    float: left;
    height: 90px;
}

header p{
    float: left;
    position: relative;
    top: 24px;
    font-size: 28px;
    color: #E8F5E9;
    font-family: 'Indie Flower', cursive;
}

.vid-container{
    
 max-width: 650px;
    margin: 0 auto;
    padding: 100px 0;
}


.vedio{
    width: 100%;
     height: 0;
    padding-bottom: 56.25%;
 
     position: relative;
}

.vedio iframe{
    
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.content-box{
    
    position: relative; 
    width: 100%;
    height: 570px;
}
.box1{
    width: 400px;
    height:240px; 
    border: solid 1px #E1E1E1;
    float: left;
    margin: 12px;
}

.box1 img{
   width: 400px;
    height:240px;    
}
.box1 p{
    font-size: 23px;
    color: white;
    display: none; 
    font-family: 'Montserrat Alternates', sans-serif;
} 

.box1:hover{
        height: 550px;
}

.box1:hover p{
    display: block;
}

footer{
    margin-left: 3%;
}

footer p{
    
     font-size: 28px;
    color: #E8F5E9;
    font-family: 'Indie Flower', cursive;
}


footer a{
    color: white;
    padding: 30px;
}
@media only screen and (max-width: 1280px){

  .box1 img{
   width: 310px;
    height:240px;    
    }  
    .box1{
    width: 310px;
    height:240px;
     margin: 15px;
    } 

}
@media only screen and (max-width: 1032px){
    
  .box1 img{
   width: 290px;
    height:220px;    
    }  
    .box1{
    width: 290px;
    height:220px;
    } 

}
    
    @media only screen and (max-width: 1032px){
    
    .box1 img{
   width: 290px;
    height:220px;    
    }  
    .box1{
    width: 290px;
    height:220px;
     margin: 15px;
    } 
}
    @media only screen and (max-width: 1032px){
      .box1 img{
   width: 250px;
    height:220px;    
    }  
    .box1{
    width: 250px;
    height:220px;
     
    } 
    
}

@media only screen and (max-width: 880px){
    .box1:hover{
       height: 565px; 
        
    }
  .box1 img{
   width: 260px;
    height:140px;    
}  
    .box1{
    width: 260px;
    height:140px;
    
} 

    .box1 p{
        font-size: 21px;
    }
}
@media only screen and (max-width: 827px){
   
    }
  .box1 img{
   width: 240px;
    height:140px;    
}  
    .box1{
    width: 240px;
    height:140px;
} 
    
    


@media only screen and (max-width: 760px){
     .box1:hover{
       height: 455px; 
        
    }
  .box1 img{
   width: 220px;
    height:140px;    
}  
    .box1{
    width: 220px;
    height:140px;
     margin: 5px;
} 
    
    .content-box{
        height: 460px;
    }
    
    
    .box1 p{
        font-size: 18px;
        
    }

}


@media only screen and (max-width: 700px){
    .box1:hover{
       height: 475px; 
    }
     .box1 img{
   width: 210px;
    height:110px;    
}  
    .box1{
    width: 210px;
    height:110px;

} 

}
@media only screen and (max-width: 666px){
     .box1:hover{
       height: 405px; 
    }
     .box1 img{
   width: 180px;
    height:90px;    
}  
    .box1{
    width: 180px;
    height:90px;
     margin: 5px;
} 
    .box1 p{
        font-size: 15px;
    }
}
@media only screen and (max-width: 578px){
    
       .box1:hover{
       height: 405px; 
    }
     .box1 img{
   width: 460px;
    height:190px;    
}  
    .box1{
    width: 460px;
    height:190px;
     margin: 5px;
} 
    .box1 p{
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 464px){
    
       .box1:hover{
       height: 405px; 
    }
     .box1 img{
   width: 360px;
    height:190px;    
}  
    .box1{
    width: 360px;
    height:190px;
     margin: 5px;
} 
    .box1 p{
        font-size: 15px;
    }
    
}

